<!DOCTYPE html>
<html lang="es">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Sobre AWS</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="../static/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="../static/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="../static/images/TALKMEET.ico" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="../static/css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- owl stylesheets -->
      <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,700&display=swap&subset=latin-ext" rel="stylesheet">
      <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
      <link rel="stylesoeet" href="../static/css/owl.theme.default.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   </head>
   <body>
      <!-- header section start -->
      <div class="header_section header_bg">
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="logo" href="http://127.0.0.1:5000/"><img src="../static/images/TALKMEET.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                     <a class="nav-link" href="http://127.0.0.1:5000/">Inicio</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="http://127.0.0.1:5000/transcribe">Transcribir</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="http://127.0.0.1:5000/aboutaws">Sobre AWS</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="http://127.0.0.1:5000/contact">Contactanos</a>
                  </li>
               </ul>
            </div>
            <div class="main">
               <form class="form-inline my-2 my-lg-0">
                  <div class="call_text">
                     <ul>
                        <li><a href="#"><img src="../static/images/call-icon.png"><span class="padding_left_10">Llámanos</span></a></li>
                        <li><a href="#"><img src="../static/images/mail-icon.png"><span class="padding_left_10">capycode@gmail.com</span></a></li>
                     </ul>
                  </div>
               </form>
            </div>
         </nav>
      </div>
      <!-- header section start -->
      <!-- wine section start -->
      <div class="about_section ">
         <div class="container">
            <div class="row">
               <div class="col-md-10">
                  <h1 class="about_taital">¿Qué es <span style="color: #1a316e;">AWS?</span></h1>
                  <p class="about_text">Amazon Web Services es un proveedor de servicios en la nube, 
                     nos permite disponer de almacenamiento, recursos de computación, aplicaciones móviles, 
                     bases de datos y un largo etcétera en modalidad de cloud computing.</p>
                     <br><br>
                        <p><h2>¿Qué ofrece Amazon Web Services y cuáles son sus principales ventajas?</h2>AWS tiene presencia en 190 países alrededor del mundo y cuenta con más de 10.000 partners asociados, entre los cuales nos encontramos con Hiberus Sistemas. Sus centros de datos están en Estados Unidos, Japón, Australia, Brasil, Europa y Singapur y los clientes disfrutan de ventajas tales como:</p>
                        <h3>Seguridad</h3>
                        <p>Si bien poder procesar los datos en una infraestructura externa puede sonar muy interesante y tener beneficios en costo, el tema de seguridad puede preocupar. AWS cuenta con certificaciones y auditorias, tales como: PCI DSS nivel 1, FISMA Moderate, HIPAA Y SOC 1, ISO 27001 y auditoria SOC 2, que hacen que sea 100% confiable.</p>
                        <h3>Bases de datos</h3>
                        <p>Para los negocios actuales, es de gran importancia tener un acceso rápido y confiable a los datos, para ello requieren almacenarlos y gestionarlos. AWS permite acceder a bases de datos como MySQL, Oracle, Aurora, PostgreSQL, SQL Server, MongoDB….</p>
                        <h3>Bajo costo</h3>
                        <p>Al lograr una conexión con la nube, los negocios no deberán hacer una inversión en infraestructura grande, por ello, sus costos serán menores. Además, AWS ha logrado ser cada vez más eficiente, sacando provecho de las economías de escala y logran reducir sus costos y transfieren esos ahorros a los costes de sus clientes.</p>
                        <h3>Accesibilidad</h3>
                        <p>Uno de los aspectos más relevantes de AWS es lo fácil que es acceder a este y encontrar servicios que puedan absorber la carga de trabajo que se le pide. Además, AWS se adapta rápidamente a las necesidades del mercado, por lo que la llegada de nuevos servicios a AWS es continua.</p>
                        <h3>Visibilidad y gobernanza</h3>
                        <p>Si bien AWS es el proveedor de la infraestructura, sigue siendo posible y fácil para la empresa auditar, controlar, administrar, con el objetivo de mantener una correcta gobernanza sobre sus datos. Esto les permite a los partners acceder rápidamente a la información y, por tanto, actuar más rápido.</p>
                        <h3>Resiliencia</h3>
                        <p>Los CPDs de AWS están diseñados para continuar trabajando en las peores contingencias. Se pueden diseñar infraestructuras con un 99.99999% de tiempo en línea (¡menos de 4 segundos de parada por año!)</p>
                        <p>&nbsp;</p>
                        <h3 class="field field--name-node-title">NOSOTROS TRABAJAMOS CON AWS</h3>
                        <p>Nosotros optamos por trabajar con Amazon Web Services a razon de las ventajas ya mencionadas, garantizamos la eficiencia de la APP, y es exclusivamente dirigida a empresas.</p>
                        <p>&nbsp;</p>
               </div>
            </div>
         </div>
      </div>
      <!-- wine section end -->
      <!-- footer section start -->
      <div class="footer_section layout_padding">
         <div class="container">
            <div class="social_icon">
               <ul>
                  <li><a href="#"><img src="../static/images/fb-icon.png"></a></li>
                  <li><a href="#"><img src="../static/images/twitter-icon.png"></a></li>
                  <li><a href="#"><img src="../static/images/instagram-icon.png"></a></li>
                  <li><a href="#"><img src="../static/images/linkedin-icon.png"></a></li>
               </ul>
            </div>
         </div>
         <!-- copyright section start -->
         <div class="copyright_section">
            <div class="container">
               <p class="copyright_text">Copyright 2022 Derechos Reservados por CapyCode</a></p>
            </div>
         </div>
         <!-- copyright section end -->
      </div>
      <!-- footer section end -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script src="js/owl.carousel.js"></script>
      <script>
         if ( $(window).width() > 990) { 
         
          $('.owl-carousel').owlCarousel({
             stagePadding: 350,
             loop:true,
             margin:35,
             nav:true,
             responsive:{
                 0:{
                     items:1
                 },
                 600:{
                     items:1
                 },
                 1000:{
                     items:1
                 }
             }
         })
         
          }
         
         
         
          else { 
         
          $('.owl-carousel').owlCarousel({
             stagePadding: 70,
             loop:true,
             margin:10,
             nav:true,
             responsive:{
                 0:{
                     items:1
                 },
                 600:{
                     items:1
                 },
                 1000:{
                     items:1
                 }
             }
         })
         
           }    
         
      </script>
      <script type="text/javascript">
         $(window).scroll(function(){
         var sticky = $('#navbar'),
         scroll = $(window).scrollTop();
         
         if (scroll >= 600) sticky.addClass('fix-nav');
         else sticky.removeClass('fix-nav');
         });
      </script>
   </body>
</html>