<!DOCTYPE html>
<html lang="en">
<head>
<title>HOTELS</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/reset.css') }}" type="text/css" media="all">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/layout.css') }}" type="text/css" media="all">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}" type="text/css" media="all">
<script type="text/javascript" src="{{ url_for('static', filename= 'js/jquery-1.4.2.js') }}" ></script>
<script type="text/javascript" src="{{ url_for('static', filename= 'js/cufon-yui.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename= 'js/cufon-replace.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename= 'js/Myriad_Pro_600.font.js') }}"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/ie6_script_other.js"></script>
<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body id="page3">
<!-- START PAGE SOURCE -->
<div class="extra">
  <div class="main">
    <header>
      <div class="wrapper">
        <h1><a href="http://127.0.0.1:5000/hotel" id="logo">HOTELS</a></h1>
        <div class="right">
          <div class="wrapper">
            <form id="search" action="#" method="post">
              <div class="bg">
                <input type="submit" class="submit" value="">
                <input type="text" class="input">
              </div>
            </form>
          </div>
          <div class="wrapper">
          </div>
        </div>
      </div>
      <nav>
        <ul id="menu">
          <li><a href="http://127.0.0.1:5000/hotel" class="nav1">Hoteles</a></li>
          <li><a href="http://127.0.0.1:5000/hotel/5estrellas" class="nav2">Hoteles 5 estrellas </a></li>
          <li><a href="http://127.0.0.1:5000/hotel/hotelsnew" class="nav3">Hoteles Nuevos</a></li>
          <li class="end"><a href="http://127.0.0.1:5000/hotel/contacts" class="nav4">Contacts</a></li>
        </ul>
      </nav>
      
      <article class="col1 pad_left1">
        <div class="text"> <img src="images/text1.jpg" alt="">
          <h2>Las mejores ofertas</h2>
          <p>Hotels te ayuda a encontrar un buen hotel describiéndote el hotel e indicándote el precio, Hotels te lo hace fácil para que puedas encontrar tu hotel ideal, y al mejor precio, solo entra a Hotels.com y seleccione su hotel ideal y su fecha de llegada  así de simple, Hotels  te muestra la información de los hoteles y los hoteles disponibles, selecciona su destino para vacacionar.</p>
      </article>
      <div class="img"><img src="images/img_2.jpg" alt=""></div>
    </header>
    <section id="content">
      <article class="col2 pad_left1">
        <h2>NOS PUEDES CONTACTAR A TRAVES DE LOS SIGUIENTES MEDIOS</h2>
        <div class="wrapper under">
          <figure class="left marg_right1"><img src="images/face.png" alt=""></figure>
          <p class="pad_bot2"><strong>Facebook</strong></p>
          <p class="pad_bot2">https://www.facebook.com/Diego.AquinoQ</p>
		  <p class="pad_bot2">https://www.facebook.com/gabriel.pacco.3</p>
		  <p class="pad_bot2">https://www.facebook.com/profile.php?id=100026450136426</p>
		 </div>
		<div class="wrapper under">
          <figure class="left marg_right1"><img src="images/instagram.jpg" alt=""></figure>
          <p class="pad_bot2"><strong>Instagram</strong></p>
          <p class="pad_bot2">https://www.instagram.com/diego_aquino_7w7/</p>
		  <p class="pad_bot2">https://www.instagram.com/gabriel_pacco_/</p>
		 </div>
		<div class="wrapper under">
          <figure class="left marg_right1"><img src="images/gmail.png" alt=""></figure>
          <p class="pad_bot2"><strong>E-mail</strong></p>
          <p class="pad_bot2">daquino@unsa.edu.pe</p>
		  <p class="pad_bot2">gpaccohu@unsa.edu.pe</p>
		  <p class="pad_bot2">eperezchi@unsa.edu.pe</p>
		</div>
      </article>
    </section>
  </div>
  <div class="block"></div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>