<!DOCTYPE html>
<html lang="en">
<head>
<title>HOTELS</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/reset.css') }}" type="text/css" media="all">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/layout.css') }}" type="text/css" media="all">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}" type="text/css" media="all">
<script type="text/javascript" src="{{ url_for('static', filename= 'js/jquery-1.4.2.js') }}" ></script>
<script type="text/javascript" src="{{ url_for('static', filename= 'js/cufon-yui.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename= 'js/cufon-replace.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename= 'js/Myriad_Pro_600.font.js') }}"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/ie6_script_other.js"></script>
<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body id="page3">
<!-- START PAGE SOURCE -->
<div class="extra">
  <div class="main">
    <header>
      <div class="wrapper">
        <h1><a href="http://127.0.0.1:5000/hotel" id="logo">HOTELS</a></h1>
        <div class="right">
          <div class="wrapper">
            <form id="search" action="#" method="post">
              <div class="bg">
                <input type="submit" class="submit" value="">
                <input type="text" class="input">
              </div>
            </form>
          </div>
          <div class="wrapper">
          </div>
        </div>
      </div>
      <nav>
        <ul id="menu">
          <li><a href="http://127.0.0.1:5000/hotel" class="nav1">Hoteles</a></li>
          <li><a href="http://127.0.0.1:5000/hotel/5estrellas" class="nav2">Hoteles 5 estrellas </a></li>
          <li><a href="http://127.0.0.1:5000/hotel/hotelsnew" class="nav3">Hoteles Nuevos</a></li>
          <li class="end"><a href="http://127.0.0.1:5000/hotel/contacts" class="nav4">Contacts</a></li>
        </ul>
      </nav>
      
      <article class="col1 pad_left1">
        <div class="text"> <img src="{{ url_for('static', filename='images/text1.jpg') }}" alt="">
          <h2>Las mejores ofertas</h2>
          <p>Hotels te ayuda a encontrar un buen hotel describiéndote el hotel e indicándote el precio, Hotels te lo hace fácil para que puedas encontrar tu hotel ideal, y al mejor precio, solo entra a Hotels.com y seleccione su hotel ideal y su fecha de llegada  así de simple, Hotels  te muestra la información de los hoteles y los hoteles disponibles, selecciona su destino para vacacionar.</p>
      </article>
      <div class="img"><img src="{{ url_for('static', filename='images/img2.jpg') }}" alt=""></div>
    </header>
    <section id="content">
      <article class="col2 pad_left1">
        <h2>CALIFICACION DE 5 ESTRELLAS</h2>
        <div class="wrapper under">
          <figure class="left marg_right1"><img src="{{ url_for('static', filename='images/page1_img4.jpg') }}" alt=""></figure>
          <p class="pad_bot2"><strong>Hotel el paraiso</strong></p>
          <p class="pad_bot2">Los huéspedes pueden disfrutar de un fácil acceso a todo lo que ofrece la animada ciudad. Con su estratégica ubicación, este establecimiento ofrece fácil acceso a las visitas obligadas en la ciudad. </p>
          <p class="pad_bot2"><strong>Precio</strong>: 158$</p>
		  <button onclick="location.href='http://127.0.0.1:5000/hotel/hotel1'">ver</button>
          <a href="#" class="marker_2"></a> </div>
		  
		<div class="wrapper under">
          <figure class="left marg_right1"><img src="{{ url_for('static', filename='images/miami.jpg') }}" alt=""></figure>
          <p class="pad_bot2"><strong>Hotel Circa 39 Miami Beach</strong></p>
          <p class="pad_bot2">Ecléctico, sin pretensiones y acogedor, Circa 39 te inspira a dejar atrás lo familiar y sumergirte en el crisol de Miami. </p>
          <p class="pad_bot2"><strong>Precio</strong>: 138$</p>
		  <button onclick="location.href='http://127.0.0.1:5000/hotel/hotel3'">ver</button>
          <a href="#" class="marker_2"></a> </div>
		  
		<div class="wrapper under">
          <figure class="left marg_right1"><img src="{{ url_for('static', filename='images/cusco.jpg') }}" alt=""></figure>
          <p class="pad_bot2"><strong>Palacio del Inka</strong></p>
          <p class="pad_bot2">Este hotel, que ocupa un palacio restaurado del siglo XV que conserva elementos originales, se encuentra frente a los restos del Templo de Coricancha, a 8 minutos a pie de la animada plaza de Armas y a 9 de la Catedral de Cuzco.</p>
    	  <p class="pad_bot2"><strong>Precio</strong>: 274.51$</p>
		  <button onclick="location.href='http://127.0.0.1:5000/hotel/hotel5'">ver</button>
          <a href="#" class="marker_2"></a> </div>
		  
      </article>
    </section>
  </div>
  <div class="block"></div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>