<!DOCTYPE html>
<html lang="en">
<head>
<title>HOTELS</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/reset.css') }}" type="text/css" media="all">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/layout.css') }}" type="text/css" media="all">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}" type="text/css" media="all">
<script type="text/javascript" src="js/jquery-1.4.2.js" ></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-replace.js"></script>
<script type="text/javascript" src="js/Myriad_Pro_600.font.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/ie6_script_other.js"></script>
<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body id="pageH">
<!-- START PAGE SOURCE -->
<div class="extra">
  <div class="main">
    <header>
      <div class="wrapper">
        <h1><a href="http://127.0.0.1:5000/hotel" id="logo">HOTELS</a></h1>
        <div class="right">
          <div class="wrapper">
            <form id="search" action="#" method="post">
              <div class="bg">
                <input type="submit" class="submit" value="">
                <input type="text" class="input">
              </div>
            </form>
          </div>
          <div class="wrapper">
          </div>
        </div>
      </div>
<div class="row-2">
      <div class="indent">
        <!-- header-box begin -->
        <div class="header-box">
          <div class="inner">
      <nav>
        <ul id="menu">
          <li><a href="http://127.0.0.1:5000/hotel/hotel1" class="nav1">Descripcion</a></li>
          <li><a href="http://127.0.0.1:5000/hotel/hotel1/reserva" class="nav2">Reservaciones </a></li>
		  <li><a href="http://127.0.0.1:5000/hotel/hotel1/calificacion" class="nav3">Calificanos </a></li>
          <li class="end"><a href="http://127.0.0.1:5000/hotel/hotel1/contactus" class="nav4">Contactanos</a></li>
        </ul>
      </nav>
	  </div>
    </div>
	</div>
    </div>
    </header>
	<section id="content">
      <article class="col2 pad_left1">
        <h2>DETALLES SOBRE EL HOTEL</h2>
        <div class="wrapper under">
		  <figure class="left marg_right1"><img src="{{ url_for('static', filename='images/2page-img2.jpg') }}" alt=""></figure>
          <p class="pad_bot2"><strong>Acerca del Hotel</strong></p>
          <p class="pad_bot2">Si lo que estás buscando es un alojamiento con buena ubicación, <strong>Hotel el paraiso </strong> es una opción perfectaDesde aquí, los huéspedes pueden disfrutar de un fácil acceso a todo lo que ofrece la animada ciudad. Con su estratégica ubicación, este establecimiento ofrece fácil acceso a las visitas obligadas en la ciudad. </p>
          
		  <p class="pad_bot2"><strong>Loaclización</strong></p> 
		  <p class="pad_bot2">Plaza Manuel Sanchis Guarner, Eixample, Valencia, España, 46006.</p>
           
          <p class="pad_bot2"><strong>Habitaciones</strong></p>
          <p class="pad_bot2">Habitaciones clásicas y elegantes, pero con detalles contemporáneos y una decoración exquisita. Muy acogedoras, dan una sensación de confort intemporal; diseñadas para momentos especiales y estancias tranquilas. Las habitaciones tienen entre 20 m2 y 25 m2 y vistas a la villa de Estoril. Camas individuales o cama de matrimonio, Queen o King size, baño en mármol, algunos con bañera y ducha separados.</p>
		 
          <p class="pad_bot2"><strong>Servicios</strong></p>
          <p class="pad_bot2">El establecimiento ofrece una variedad excelente de instalaciones recreativas, incluyendo gimnasio. Si buscas comodidad al mejor precio en Valencia, Hotel el paraiso representa el hogar lejos de casa.</p>
	
          <p class="pad_bot2"><strong>Precio</strong>: 158$</p>
         
	  </div>
	  </article>
    </section>
	
	
  </div>
  <div class="block"></div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>

<!-- 

		  -->