<!DOCTYPE html>
<html lang="en">
<head>
<title>HOTELS</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/reset.css') }}" type="text/css" media="all">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/layout.css') }}" type="text/css" media="all">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}" type="text/css" media="all">
<script type="text/javascript" src="{{ url_for('static', filename= 'js/jquery-1.4.2.js') }}" ></script>
<script type="text/javascript" src="{{ url_for('static', filename= 'js/cufon-yui.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename= 'js/cufon-replace.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename= 'js/Myriad_Pro_600.font.js') }}"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/ie6_script_other.js"></script>
<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body id="page2">
<!-- START PAGE SOURCE -->
<div class="extra">
  <div class="main">
    <header>
      <div class="wrapper">
        <h1><a href="http://127.0.0.1:5000/hotel" id="logo">HOTELS</a></h1>
        <div class="right">
          <div class="wrapper">
            <form id="search" action="#" method="post">
              <div class="bg">
                <input type="submit" class="submit" value="">
                <input type="text" class="input">
              </div>
            </form>
          </div>
          <div class="wrapper">
          </div>
        </div>
      </div>
      <nav>
        <ul id="menu">
          <li><a href="http://127.0.0.1:5000/hotel" class="nav1">Hoteles</a></li>
          <li><a href="http://127.0.0.1:5000/hotel/5estrellas" class="nav2">Hoteles 5 estrellas </a></li>
          <li><a href="http://127.0.0.1:5000/hotel/hotelsnew" class="nav3">Hoteles Nuevos</a></li>
          <li class="end"><a href="http://127.0.0.1:5000/hotel/contacts" class="nav4">Contacts</a></li>
        </ul>
      </nav>
      
      <article class="col1 pad_left1">
        <div class="text"> <img src="{{ url_for('static', filename='images/text1.jpg') }}" alt="">
          <h2>Las mejores ofertas</h2>
          <p>Hotels te ayuda a encontrar un buen hotel describiéndote el hotel e indicándote el precio, Hotels te lo hace fácil para que puedas encontrar tu hotel ideal, y al mejor precio, solo entra a Hotels.com y seleccione su hotel ideal y su fecha de llegada  así de simple, Hotels  te muestra la información de los hoteles y los hoteles disponibles, selecciona su destino para vacacionar.</p>
          
      </article>
      <div class="img"><img src="{{ url_for('static', filename='images/img2.jpg') }}" alt=""></div>
    </header>
	
    <section id="content">
      <article class="col2 pad_left1">
        <h2>NUEVOS HOTELES</h2>
        <div class="wrapper under">
		  
        <div class="wrapper under">
          <figure class="left marg_right1"><img src="{{ url_for('static', filename='images/hotelbolivia.jpg') }}" alt=""></figure>
          <p class="pad_bot2"><strong>Los Tajibos Hotel & Convention Center</strong></p>
          <p class="pad_bot2">Este hotel cuenta con una linda vista al mar, además, para la tranquilidad de los huéspedes, el establecimiento cuenta con extintor de incendios, detector de humo, sistema de seguridad y botiquín de primeros auxilios. Este establecimiento informa que actualmente aplica medidas de limpieza adicional y seguridad de los huéspedes.</p>
          <p class="pad_bot2"><strong>Precio</strong>: 116.39$</p>
          <button onclick="location.href='http://127.0.0.1:5000/hotel/hotel2'">ver</button>
		  <a href="#" class="marker_2"></a> </div>
		  
        <div class="wrapper under">
          <figure class="left marg_right1"><img src="{{ url_for('static', filename='images/texas.jpg') }}" alt=""></figure>
          <p class="pad_bot2"><strong>Embassy Suites Hotel Laredo-TX</strong></p>
          <p class="pad_bot2">Este hotel de suites de larga estancia, que ocupa un edificio de estilo mediterráneo, está situado a 4,8 millas (7,7 km) del museo Republic of the Río Grande y a 6,5 millas (10,5 km) del parque estatal internacional Lake Casa Blanca.</p>
          <p class="pad_bot2"><strong>Precio</strong>: 111.75$</p>
          <button onclick="location.href='http://127.0.0.1:5000/hotel/hotel4'">ver</button>
		  <a href="#" class="marker_2"></a> </div>
		  
        <div class="wrapper">
          <figure class="left marg_right1"><img src="{{ url_for('static', filename='images/rusia.jpg') }}" alt=""></figure>
          <p class="pad_bot2"><strong>Hotel Kempinski Moscow</strong></p>
          <p class="pad_bot2"> Este lujoso hotel del 1898 con vistas al río Moscova está a 9 minutos a pie del metro de Moscú y a 15 minutos a pie de la Catedral de San Basilio en la Plaza Roja.</p>
		  <p class="pad_bot2"><strong>Precio</strong>: 221.31$</p>
          <button onclick="location.href='http://127.0.0.1:5000/hotel/hotel6'">ver</button>
		  <a href="#" class="marker_2"></a> </div>
      </article>
    </section>
  </div>
  <div class="block"></div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>